body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #477eb6;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color:rgb(99, 187, 255);
}

header img {
    width: 200px;
    height: 100px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 20px;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #0067ac;
}

.content {
    background-color: #a1d0f7;
    padding: 40px;
    min-height: 500px;
}

.background-section {
    background-image: url('img/teaching.png'); 
    background-size: cover;
    background-position: center;
    padding: 200px 40px;
    color: rgb(2, 0, 0);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;      
    height: 100vh;          
}

.background-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.background-section p {
    font-size: 18px;
    max-width: 600px;
    margin: auto;
}

.center-button {
    background-color: #3498db;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.center-button:hover {
    background-color: #2980b9;
}

.tutorial-videos {
    display: none;
    margin-top: 40px;
}

.tutorial-videos iframe {
    width: 600px;
    height: 400px;
    margin-bottom: 20px;
}

.tutorial-videos h3 {
    color: #2c3e50;
}
